body {
  margin:auto;
  font-family: Montserrat-Regular, Arial, sans-serif;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(fonts/Montserrat-Regular/"Montserrat-Regular.woff") 
  format("woff");
}

 @font-face {
 font-family: "QuicksandBold-Regular";
 src: url(fonts/QuicksandBold-Regular/"Quicksand_Bold.woff") 
 format("woff");
}

.conteiner{
  min-width: 1024px;
}

.nav_block{ 
  background-color: #373c3f;
  margin: 0px;
  padding: 35px 0px 30px 13px;
  line-height:0px;
}

.header_unordered_list {
  width: 1024px;
  margin:0 auto;
}

.content {
  background-color: #17b3c5; 
}

.navlist {
  display: inline;
  list-style-type: none; 
 }

.navlink {
  font-size: 15px;
  color: #ebebeb;
  text-decoration: none;
  padding-right: 25px;
  outline: none;
}

.navlink:hover {
  color: #afb4b8;
}

.main_baner {  
  margin: 0px 210px 0px 83px;
}

.baner_heading {
  font-size: 61px;
  color: white;
  margin: 0px;
  padding: 193px 0px 50px 0px;
  font-weight: normal;
  line-height: 68px;
  letter-spacing: 1px;
}

.baner_paragraph {
  margin: 0px;
  padding-bottom: 166px;
}

.baner_link { 
  font-size: 34px;
  color: #a5d2dc;
  text-decoration: none;
  line-height: 33px;
  letter-spacing: 1px;
}

.baner_link:hover {
  color: #8bc2cd;
}

.baner_span {
  font-family: QuicksandBold-Regular;
  font-size: 36px;
  color: white;
  float: right;
  font-weight: bold; 
  line-height: 40px;
  padding-right: 8px;
} 

.text_box {
  background-color: #27212c;
  display: flex;
}

.robin_hood_paragraph {
  color: #9282a0;
  font-size: 30px;
  margin: 0px;
  width: 100%;
  padding: 126px 160px 29px 80px;
  text-align: center;
  line-height: 0px;
}

.text_box_moresign {
  background-color: #bc3183;
  font-family: QuicksandBold-Regular;
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  padding: 98px 104px 100px 92px;
}

.img_box {
   display: flex;
   background-color: #5b0fa1;
 }

 .img_paragraph{
  margin:0px;
  display: flex;
 }
 
 .img_box_moresign {
   background-color: #5b0fa1;
   font-family: QuicksandBold-Regular;
   font-size: 40px;
   color: white;
   font-weight: bold; 
   margin: 0px;
   text-align: center;
   padding: 125px 160px 0px 157px;  
   width: 100%;
 }

 img {
  height: 295px;
  width: 341px; 
 }

.footer{
  background-color: #ebebeb;
  column-count: 2;
  color: #515151;
  line-height: 27px;
  column-gap: 60px;
  padding: 6px 0px 177px 0px;
}

.footer_column_left {
  color: #515151;
  font-size: 14px;
  padding: 8px 0px 0px 82px;
}

.footer_column_right {
  color: #515151;
  font-size: 14px;
  padding: 22px 80px 0px 0px;
}

h2 {
  column-span: all;
  color: #088ca5;
  font-size: 30px;
  font-weight: normal;
  margin: 0px;
  padding:48px 0px 0px 79px;
}