body {
  margin:auto;
  font-family: Montserrat-Regular, Arial, sans-serif;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(fonts/Montserrat-Regular/"Montserrat-Regular.woff") 
  format("woff");
}

 @font-face {
 font-family: "QuicksandBold-Regular";
 src: url(fonts/QuicksandBold-Regular/"Quicksand_Bold.woff") 
 format("woff");
}

.conteiner {
  min-width: 1024px;
}

.navigation {
  display: none;
}

.nav_block { 
  background-color: #373c3f;
  margin: 0px;
  padding: 51px 417px 46px 13px;
  line-height:0px;
}

.header_unordered_list {
  width: 1024px;
  margin:0 auto;
}

.content {
  background-color: #17b3c5; 
}

.navlist {
  display: inline;
  list-style-type: none; 
 }

.navlink {
  font-size: 15px;
  color: #ebebeb;
  text-decoration: none;
  padding-right: 25px;
  outline: none;
}

.navlink:hover {
  color: #afb4b8;
}

.main_baner {  
  margin: 0px 210px 0px 83px;
}

.baner_heading {
  font-size: 60px;
  color: white;
  margin: 0px;
  padding: 193px 0px 50px 0px;
  font-weight: normal;
  line-height: 68px;
  letter-spacing: 1px;
}

.baner_paragraph {
  margin: 0px;
  padding-bottom: 166px;
}

.baner_link { 
  font-size: 34px;
  color: #a5d2dc;
  text-decoration: none;
  line-height: 33px;
  letter-spacing: 1px;
}

.baner_link:hover {
  color: #8bc2cd;
}

.baner_span {
  font-family: QuicksandBold-Regular;
  font-size: 36px;
  color: white;
  float: right;
  font-weight: bold; 
  line-height: 40px;
  padding-right: 8px;
} 

.text_box {
  background-color: #27212c;
  display: flex;
}

.robin_hood_paragraph {
  color: #9282a0;
  font-size: 30px;
  margin: 0px;
  width: 100%;
  padding: 126px 160px 29px 80px;
  text-align: center;
  line-height: 0px;
}

.text_box_moresign {
  background-color: #bc3183;
  font-family: QuicksandBold-Regular;
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  padding: 98px 104px 100px 92px;
}

.img_box {
   display: flex;
   background-color: #5b0fa1;
 }

 .bridge_img {
  margin:0px;
  display:block;
  height: 295px;
  width: 341px;
 }

 .girl_img {
  margin:0px;
  display:block;
  height: 295px;
  width: 341px;
 }
 
 .img_box_moresign {
   background-color: #5b0fa1;
   font-family: QuicksandBold-Regular;
   font-size: 40px;
   color: white;
   font-weight: bold; 
   margin: 0px;
   text-align: center;
   padding: 125px 160px 0px 157px;  
   width:100%;
 }

.footer{
  background-color: #ebebeb;
  column-count: 2;
  color: #515151;
  line-height: 26px;
  column-gap: 60px;
  padding: 6px 0px 100px 0px;
}

.footer_column_left {
  color: #515151;
  font-size: 14px;
  padding: 8px 0px 0px 82px;
}

.footer_column_right {
  color: #515151;
  font-size: 14px;
  padding: 22px 80px 0px 0px;
}

h2 {
  column-span: all;
  color: #088ca5;
  font-size: 30px;
  font-weight: normal;
  margin: 0px;
  padding:48px 0px 0px 79px;
}


@media screen and (max-width: 980px) {
  
.conteiner {
  min-width: 980px;
}

.content {
  background-color: #17b3c5; 
}

img {
  height: 282px;
  width: 326px; 
 }

.main_baner {
  margin:0px 200px 0px 94px;
}

.baner_heading {
  font-size: 60px;
  color: white;
  margin: 0px 0px 0px -15px;
  padding: 180px 0px 50px 0px;
  font-weight: normal;
  line-height: 66px;
  letter-spacing: 0px;
}

.baner_paragraph {
  margin: 0px;
  padding-bottom: 160px;
}

.baner_link {
  font-size: 34px;
  color: #a5d2dc;
  text-decoration: none;
  line-height: 25px;
  margin-left: -15px;
  letter-spacing: 0px;
}

.baner_link:hover {
  color: #8bc2cd;
}

.baner_span {
  font-family: QuicksandBold-Regular;
  font-size: 36px;
  color: white;
  float: right;
  font-weight: bold;
  line-height: 30px;  
}

.text_box {
  background-color: #27212c;
  display: flex;
}

.robin_hood_paragraph {
  color: #9282a0;
  font-size: 30px;
  margin: 0px;
  width: 100%;
  padding: 119px 135px 0px 79px;
  text-align: center;
  line-height: 0px;
}

.text_box_moresign {
  background-color: #bc3183;
  font-family: QuicksandBold-Regular;
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  padding: 90px 98px 96px 88px;
}

.img_box {
  display: flex;
  background-color: #5b0fa1;
}

.img_box_moresign {
  background-color: #5b0fa1;
  font-family: QuicksandBold-Regular;
  font-size: 40px;
  color: white;
  font-weight: bold;
  margin: 0px;
  text-align: center;
  padding: 119px 153px 0px 150px;
  width: 100%;
  }

.bridge_img {
  margin:0px;
  display:block;
 }

 .girl_img {
  margin:0px;
  display:block;
 }

.footer {
  background-color: #ebebeb;
  column-count: 2;
  color: #515151;
  line-height: 26px;
  column-gap: 60px;
  padding: 6px 0px 177px 0px;
}

h2 {
  column-span: all;
  color: #088ca5;
  font-size: 30px;
  font-weight: normal;
  margin: 0px;
  padding:63px 0px 0px 75px;
}
  
.footer_column_left {
  color: #515151;
  font-size: 14px;
  padding: 8px 13px 0px 79px;
}

.footer_column_right {
  color: #515151;
  font-size: 14px;
  padding: 22px 90px 0px 2px;
}

@media screen and (max-width: 640px){

.conteiner {
  min-width: 640px;
}

.nav_block {
  display: none;
}

.navigation {
  display: flex;
  background-color: #373c3f;
  margin: 0px;
}

.navigation_header {
  width: 558px;
}

.nav_header {
  font-size: 24px;
  padding: 23px 0px 23px 36px ;
  color: #ebebeb;
}

.nav_buton {
  background-color: #202529;
  width: 82px;
  padding-top: 27px;
}

.rectangle {
  margin: -11px;
  text-align: center;
}

.rectangle_img {
  width: 31px;
  height: 4px;
}

.main_baner {  
  margin: 0px 0px -65px 0px;
  width: 640px;
}

.baner_heading {
  font-size: 40px;
  color: white;
  margin: 0px;
  padding: 105px 0px 28px 50px;
  font-weight: normal;
  line-height: 45px;
}

.baner_paragraph {
  margin: 0px;
  padding-bottom: 166px;
}

.baner_link { 
  font-size: 22px;
  color: #a5d2dc;
  text-decoration: none;
  padding-left: 68px;
}

.baner_link:hover {
  color: #8bc2cd;
}

.baner_span {
  font-size: 23px;
  color: white;
  float: right;
  font-weight: bold; 
  padding-right: 136px;
} 

.text_box {
  background-color: #27212c;
  display: flex;
}

.robin_hood_paragraph {
  color: #9282a0;
  font-size: 19px;
  margin: 0px 0px 0px -45px;
  padding: 79px 0px 0px 0px;
  text-align: center;
}

.text_box_moresign {
  background-color: #bc3183;
  font-family: QuicksandBold-Regular;
  font-size: 32px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  padding: 59px 65px 61px 58px;
}

.img_box {
   background-color: #5b0fa1;
   display: flex;
   flex-direction: column;
 }

 .bridge_img {
  margin:0px;
  height: 555px;
  width: 640px; 
 }

 .girl_img {
  margin:0px;
  height: 555px;
  width: 640px; 
 }
 
 .img_box_moresign {
   background-color: #5b0fa1;
   font-family: QuicksandBold-Regular;
   font-size: 75px;
   color: white;
   font-weight: bold; 
   padding: 234px 0px 244px 0px;  
 }

 .footer {
  background-color: #ebebeb;
  color: #515151;
  line-height: 26px;
  padding: 6px 0px 100px 0px;
}

h2 {
  color: #088ca5;
  font-size: 30px;
  font-weight: normal;
  padding:66px 0px 0px 73px;
}

.footer_column_left {
  color: #515151;
  font-size: 22px;
  padding: 22px 0px 0px 73px;
  display: inline-block;
  width: 495px;
  line-height: 44px
}

.footer_column_right {
 display: none;
}

@media screen and (min-width: 0px) and (max-width: 320px) {

.conteiner {
  min-width: 320px;
}

.nav_block {
  display: none;
}

.navigation {
  display: flex;
  background-color: #373c3f;
  margin: 0px;
}

.navigation_header {
  width: 558px;
}

.nav_header {
  font-size: 12px;
  padding: 11px 0px 11px 19px;
}

.nav_buton {
  width: 80px;
  padding-top: 15px;
}

.rectangle {
  margin: -15px;
  text-align: center;
  padding-left: 3px;
}

.rectangle_img {
  width: 14px;
  height: 2px;
}

.main_baner {  
  margin: 0px;
  width: 320px;
}

.baner_heading {
  font-size: 20px;
  margin: 0px;
  padding: 56px 0px 9px 27px;
  font-weight: normal;
  line-height: 20px;
}

.baner_paragraph {
  margin: 0px;
  padding-bottom: 46px;
}

.baner_link { 
  font-size: 11px;
  padding-left: 42px;
}


.baner_span {
  font-size: 11px;
  padding-right: 68px;
} 

.robin_hood_paragraph {
  font-size: 10px;
  margin: 0px 0px 0px -15px;
  padding: 39px 0px 0px 0px;
}

.text_box_moresign {
  font-size: 16px;
  padding: 30px 31px 29px 29px;
}

 .bridge_img {
  height: 277px;
  width: 320px; 
 }

 .girl_img {
  height: 277px;
  width: 320px; 
 }
 
 .img_box_moresign {
   font-size: 38px;
   padding: 117px 0px 122px 0px;  
 }

 .footer {
  line-height: 26px;
  padding: 6px 0px 100px 0px;
}

h2 {
  font-size: 19px;
  padding:26px 0px 0px 37px;
}

.footer_column_left {
  font-size: 14px;
  padding: 0px 0px 0px 37px;
  width: 265px;
  line-height: 22px
}

.footer_column_right {
 display: none;
}

