body {
  margin: 0px;
  width: 1024px; 
}

nav.navlink { 
  background-color: #373c3f;
  padding-bottom: 41px;
  padding-top: 45px;
  padding-left: 55px; 
}
 
 ul.navlink {
  list-style-type: none;
  overflow: hidden;
 } 

 li.navlink {
  float: left;
 }

a.navlink {
  font-size: 15px;
  color: #ebebeb;
  font-family: Montserrat-Regular;
  text-decoration: none;
  padding-right: 25px;
}

div.content {
  background-color: #17b3c5; 
}

 @font-face {
  font-family: "Montserrat-Regular";
  src: url("Montserrat-Regular.woff") 
  format("woff");
}

 @font-face {
 font-family: "QuicksandBold-Regular";
 src: url("Quicksand_Bold.woff") 
 format("woff");
}

div.baner {  
  margin-right: 224px;
  margin-left: 83px;
}

h1.baner {
  font-family: Montserrat-Regular;
  font-size: 60px;
  color: white;
  margin: 0px;
  padding-top: 205px;
  padding-bottom: 50px; 
  font-weight: normal;
}

p.baner {
  margin: 0px;
  padding-bottom: 170px;
}

a.baner {
  font-family: Montserrat-Regular;  
  font-size: 34px;
  color: #a5d2dc;
  text-decoration: none;
}

span.baner {
  font-family: QuicksandBold-Regular;
  font-size: 36px;
  color: white;
  float: right;
  font-weight: bold;
} 

div.textbox {
  background-color: #27212c;
  display: flex;
  width: 1024px;
  height: 245px;
}

p.textbox {
  color: #9282a0;
  font-family: Montserrat-Regular;
  font-size: 30px;
  margin: 0px;
  text-align: center; 
  width: 795px;
  padding-top:112px;
}

p.moresign {
  background-color: #bc3183;
  font-family: QuicksandBold-Regular;
  font-size: 50px;
  color: white;
  text-align: center;
  font-weight: bold;
  margin:0px;
  width: 229px;
  padding-top:98px;
}

div.box3 {
  display: flex;
  width: 1024px;
  height: 296px;
}

p.moresign2 {
  background-color: #5b0fa1;
  font-family: QuicksandBold-Regular;
  font-size: 50px;
  color: white;
  font-weight: bold; 
  width: 342px;
  margin: 0px;
  text-align: center;
  padding-top: 127px;
}
  
div.blaz {
  font-family: Montserrat-Regular;
  color: #515151;
  column-count: 2;
  background-color: #ebebeb;
  column-gap: 65px;
  column-width: 394px;
  font-size: 14px;
  line-height: 2;
  padding: 60px 87px 174px 84px;
}

h2 {
  column-span: all; 
  color: #088ca5;
}